body{
    font-family: Arial, Helvetica, sans-serif
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

#donate{
    color: #BF2026;
    font-size: 20px;
}

#navbar-logo{
    height: 75px;
}

#home-jumbotron{
    text-align: center;
    position: relative;
    overflow: hidden;
}

#home-jumbotron h1{
    /* padding: 200px;
    padding-bottom: 100px; */
    position: relative;
    z-index: 2;
}

#home-jumbotron button{
    /* padding: 200px;
    padding-bottom: 100px; */
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
}

#home-jumbotron img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.nav{
    font-size: 20px;
    padding-top: 10px;
}

#jumbotron-tagline{
    color: #BF2026;
    font-size: 100px;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    padding-top: 75px;
}

#jumbotron-subtag{
    color: white;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}

#board{
    padding-top: 10px;
}

#outreach-com{
    padding-top: 10px;
}

#outreach-2{
    padding-top: 10px;
}

#home-button{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    background-color: #BF2026;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px black;
}

#eventalert {
    text-align: center;
}

#event-button{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px black;
}

#main-container{
    outline-style: solid;
    outline-color: #BF2026;
    outline-width: 2px;
    font-size: 16px;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
}

.form-container{
    outline-style: solid;
    outline-color: #BF2026;
    outline-width: 2px;
    font-size: 16px;
    padding:10px;
    margin-bottom: 10px;
}

.button-center{
    text-align: center;
}

.center{
    text-align: center;
}

.submit-button{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: #BF2026;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px black;
    margin:20px;
}

.secondary-container{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar{
    background-color: lightgray;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.tertiary-container{
    outline-style: solid;
    outline-color: #BF2026;
    outline-width: 2px;
    font-size: 16px;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
}

.video-header-row{
    text-align: center;
}

#about-logo{
    width: 100%;
    padding-top: 200px;
}

.aboutpics{
    width: 400px;
}

#logo-div{
    text-align: center;
}

.header-container{
    text-align: center;
    background: url(images/Atlanta.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 200px;
    box-shadow: inset 0 0 0 1000px rgba(191,32,38,0.4);
    margin-bottom: 20px;
}

.header-title{
    color: white;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.header-title-1{
    color: white;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
}

.header-subtitle{
    color: lightgrey;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-subtitle-1{
    color: #BF2026;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.subhead{
    color: #BF2026;
}

.vimeo-vid{
    width: 500px;
    height: 300px;
}

.subhead-vid{
    color: #BF2026;
}

.navbar-bottom{
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.video-row-a{
    padding: 10px;
    background-color: whitesmoke;
}

.video-row-aa{
    padding: 10px;
    background-color: lightgray;
}

.video-row-b{
    padding-top: 10px;
    padding-bottom: 10px;
}

.video-row-bb{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
}

#video-summary-1{
    padding-top: 50px;
}

#video-summary-2{
    padding-top: 50px;
}

.resources-vids{
    width: 500px;
}

input{
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
}

required {
    display: inline-block;
    position: relative;
  }
required label:after {
    content:"*";
    display: block;
    position: absolute;
    right: -.6em;
    top: 0;
  }

@media screen and (max-width: 820px) {
    #home-jumbotron img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: auto;
        z-index: 1;
    }

    #jumbotron-tagline{
        color: #BF2026;
        font-size: 50px;
        text-shadow: -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 2;
        padding-top: 75px;
    }

    #jumbotron-subtag{
        color: white;
        font-size: 30px;
        text-shadow: -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 10;
    }

    #about-logo{
        width: 80%;
        padding-top: 30px;
    }

    .aboutpics{
        width: 300px;
    }

    .header-container{
        text-align: center;
        background: url(images/Atlanta.jpg);
        background-size: cover;
        position: relative;
        width: 100%;
        height: 130px;
        box-shadow: inset 0 0 0 1000px rgba(191,32,38,0.4);
        margin-bottom: 20px;
    }

    .header-title{
        color: white;
        text-shadow: -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 50px;
    }

}